.ContentWidth {
  max-width: 800px;
}

.SearchAndFilterRowClass {
  justify-content: center;
}

.SearchIcon {
  position: absolute;
  font-size: 1.2rem;
  padding: 9px;
  padding-left: 15px;
}

/* Shared styles for search and filter */
.SearchBar,
.FilterDropdown {
  width: 100%;
}

/* Search bar only */
.SearchBar {
  padding-left: 0;
}

.SearchBar input {
  border-radius: 50px;
  padding-left: 2.75rem;
}

/* Filter dropdown */
.FilterDropdown {
  text-align: center;
  align-items: center;
  margin: auto;
}

.FilterDropdown i {
  padding-right: 0;
}

.FilterDropdown:hover i {
  cursor: pointer;
  color: #f4442e;
}

/* Media queries */
/* For small devices like mobiles and tablets */
@media (min-width: 420px) {
  .SearchAndFilterRowClass {
    max-width: 90%;
  }
}

@media (min-width: 540px) {
  .SearchAndFilterRowClass {
    width: 80%;
    align-items: center;
  }

  .SearchBar,
  .FilterDropdown {
    width: 100%;
  }
}

/* For large devices such as laptops */
@media (min-width: 992px) {
  .SearchAndFilterRowClass {
    max-width: 100%;
  }
}
