.ContentWidth {
  max-width: 800px;
}

.SearchAndFilterRowClass {
  justify-content: center;
}

.SearchIcon {
  position: absolute;
  font-size: 1.2rem;
  padding: 9px;
  padding-left: 15px;
}

/* Shared width for search and filter */
.SearchBar,
.FilterDropdown,
.MoreFilterOptions {
  width: 100%;
}

/* Search bar only */
.SearchBar {
  padding-left: 0;
}

.SearchBar input {
  border-radius: 50px;
  padding-left: 2.75rem;
}

/* Filter dropdown */
.FilterDropdown {
  text-align: center;
  align-items: center;
  margin: auto;
}

.FilterDropdown i {
  padding-right: 0;
}

.FilterDropdown:hover i {
  cursor: pointer;
  color: #f4442e;
}

/* Style/Type/Sold filter styles */
.ParentFilterContainer {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 3px;
}

.MoreFilterOptions {
  position: absolute;
  display: flex;

  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  background-color: #f9f8f8;
  z-index: 1;

  padding: 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(39, 60, 44, 0.25);
}

.StyleTypeSoldFilter {
  margin: 5px;
  text-align: center;
}

.SelectContainer {
  border-radius: 50px;
}

/* Media queries */
/* For small devices like mobiles and tablets */
@media (min-width: 420px) {
  .SearchAndFilterRowClass {
    max-width: 90%;
  }
  .MoreFilterOptions {
    max-width: 450px;
  }
}

/* For medium size devices */
@media (min-width: 540px) {
  .SearchAndFilterRowClass {
    width: 80%;
    align-items: center;
  }

  .SearchBar,
  .FilterDropdown {
    width: 100%;
  }

  .MoreFilterOptions {
    width: 100%;

    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 576px) {
  .MoreFilterOptions {
    max-width: 600px;
  }
  .ArtworkListWidth {
    max-width: 670px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  .MoreFilterOptions {
    margin-right: 50px;
  }
  .ArtworkListWidth {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* For large devices such as laptops */
@media (min-width: 992px) {
  .SearchAndFilterRowClass {
    max-width: 100%;
  }
  .ArtworkListWidth {
    max-width: 700px;
  }
}
