.HeaderPriceAndLocation {
  gap: 1.2rem;
  padding-top: 10px;
}

.Bookmark {
  position: absolute;
  bottom: 7px;
  right: 2px;
  font-size: 18px;
}

@media (min-width: 375px) {
  .Bookmark {
    position: absolute;
    bottom: 7px;
    right: 7px;
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  /* Card image style */
  .ArtworkContainImage {
    height: auto;
    max-height: 300px;
    min-width: 300px;
    object-fit: contain;
    background-color: lightgray;
  }
}
