.HeaderPriceAndLocation {
  gap: 1.2rem;
  padding-top: 10px;
}

.ArtworkContainImage {
  height: auto;
  max-height: 300px;
  max-width: 100%;
  object-fit: contain;
  background-color: lightgray;
}

@media (min-width: 375px) {
  .Bookmark {
    position: absolute;
    bottom: 7px;
    right: 7px;
    font-size: 18px;
  }
}
