.BidDisplayMargin {
  margin-bottom: 1rem;
}

/* Styles for displaying seller buttons */
.ExistingBids,
.ContactBuyerBtnDisplay {
  flex-direction: column;
}

.SellerActionButtons {
  display: flex;
  flex-direction: column;
}

.BuyerDeleteBid {
  flex-direction: row;
  justify-content: space-around;
}

/* Media queries */
@media (min-width: 665px) {
  .ContactBuyerBtnDisplay {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 740px) {
  .ExistingBids {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
