.InputFormStyles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

@media (min-width: 609px) {
  .InputFormStyles {
    flex-direction: row;
  }
  .BidPriceStyle {
    max-width: 100px;
    margin-right: 0.5rem;
  }
  .EmailInputStyle {
    margin-left: 0.5rem;
    margin-right: 16px;
  }

  .ButtonMargin {
    align-self: center;
    margin: auto;
    margin-left: 1.5rem;
  }
}
