i {
  font-size: 1.5rem;
}

.CustomDropdownMenu {
  box-shadow: 0 0.5rem 1rem rgba(39, 60, 44, 0.25);
}

.CustomDropdownMenu:hover,
.CustomDropdownMenu i:hover {
  color: #f4442e;
}

.DropdownItem:hover,
.DropdownItem:hover i {
  color: #f4442e;
}

/* This code was taken from Code Institute's Moments walkthrough. More noted in the README.md */
.Absolute {
  position: absolute;
  right: 0;
  z-index: 99;
}

.Absolute i:hover {
  cursor: pointer;
  color: #f4442e;
}

@media (min-width: 768px) {
  .Absolute {
    right: 200px;
  }
}
