.MostSellingContainer {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  overflow-x: scroll;
  scrollbar-color: #82204a4a #f9f8f8;
  scrollbar-width: thin;
  height: 120px;
}

@media (min-width: 992px) {
  .MostSellingContainer {
    gap: 0;
  }
}
