.NavBar {
  display: flex;
  align-items: center;
  background-color: #f9f8f8;
  text-decoration: none;
  box-shadow: 0 1px 4px #090c02;
}

.Active {
  font-weight: 800;
  color: #f4442e;
}

.NavLink {
  padding: 5px;
  margin: auto 0;
}

.NavLink:hover {
  color: #f4442e;
}

i {
  padding-right: 5px;
}

/* .navbar-light button.custom-menu-color.navbar-toggler {
  border-color: #090c02 !important;
  color: #090c02;
} */
