* {
  box-sizing: border-box;
}

.App {
  font-family: "Montserrat", serif;
  font-weight: 400;
  min-height: 100vh;
  max-width: 100vw;
  color: #090c02;
  background-color: #f9f8f8;
  overflow-x: hidden;
  cursor: default;
}

.AccentFont {
  font-family: "Poppins", system-ui;
}

a {
  text-decoration: none;
  color: #090c02;
}

a:hover {
  cursor: pointer;
  color: #090c02;
  text-decoration: none;
}

i {
  color: #82204a;
}

input[type="file"] {
  display: none;
}

.Main {
  padding-top: 81px;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}
