.App {
  font-family: "Montserrat", serif;
  font-weight: 400;
  min-height: 100vh;
  color: #090c02;
  background-color: #f9f8f8;
}

.Main {
  padding-top: 81px;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #090c02;
}

a:hover {
  cursor: pointer;
  color: #69353f;
  text-decoration: none;
}
